################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AirportSimulator/FileContentIndex/1afe43d1-f8e2-4837-b550-328cc3049899.vsidx
/.vs/AirportSimulator/FileContentIndex
